@model DentistAppointment.Models.PatientViewModels.PatientMedicalManipulationsHistoryViewModel
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="" />

    <!-- Document Title
    ============================================= -->
    <title>Medical Manipulations</title>
    <!-- Favicon
    ============================================= -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/FrontEnd/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FrontEnd/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FrontEnd/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FrontEnd/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FrontEnd/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FrontEnd/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FrontEnd/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FrontEnd/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FrontEnd/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FrontEnd/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FrontEnd/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FrontEnd/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FrontEnd/images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FrontEnd/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="stretched sticky-responsive-menu">
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix light-background">
        <!-- Header
        ============================================= -->
        <header id="header">
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="/Patient/patientHomePage" class="standard-logo"
                           data-dark-logo="~/FrontEnd/images/icons/molar-inside-a-shield-green.png">
                            <img src="~/FrontEnd/images/icons/molar-inside-a-shield-green.png" alt="Denstist Logo">
                        </a>
                        <a href="/Patient/patientHomePage" class="retina-logo"
                           data-dark-logo="~/FrontEnd/images/icons/molar-inside-a-shield-green.png">
                            <img src="~/FrontEnd/images/icons/molar-inside-a-shield-green.png" alt="Denstist Logo">
                        </a>
                    </div>
                    <!-- #logo end -->
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">
                        <ul>
                            <li class="current">
                                <a href="/Patient/patientHomePage"><div>My Profile</div></a>
                            </li>
                            <li class="current">
                                <a href="/Patient/patientFindDoctor"><div>Find a Doctor</div></a>
                            </li>
                            <li class="current">
                                <a href="/Patient/patientAppointments"><div>My Appointments</div></a>
                            </li>
                            <li class="accent-background">
                                <a href="/Patient/patientMedicalManipulationsHistory">
                                    <div>Medical Manipulations History</div>
                                </a>
                            </li>
                            <li class="current">
                                <a asp-area="Identity" asp-page="/Account/Logout"><div><i class="icon-line2-logout"></i>Log Out</div></a>
                            </li>
                        </ul>
                    </nav><!-- #primary-menu end -->
                </div>
            </div>
        </header><!-- #header end -->
    </div><!-- #wrapper end -->
    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">

                <h4>To be rated</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Doctor</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var reservation in Model.Reservations)
                            {
                                if (reservation.Manipulation == null)
                                {
                                    <tr>
                                        <td>@reservation.Date.ToShortDateString()</td>
                                        <td>@reservation.Date.Hour : @reservation.Date.Minute-@reservation.Date.AddMinutes(30).ToShortTimeString()</td>
                                        <td>@reservation.User.FirstName @reservation.User.LastName</td>
                                        <td>
                                            <a href="/Patient/patientRateAppointment" id="submit"
                                               class="btn aviableBtn button-rounded m-0 accent-background light-text button-mini">
                                                <i class="icon-line-open"></i><span>Rate appointment</span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            
                        </tbody>
                    </table>
                </div>
                <div class="divider divider-center"><i class="icon-time"></i></div>

                <h4>Past</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Doctor</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var reservation in Model.Reservations)
                            {
                                if (@reservation.Manipulation != null)
                                {
                                    <tr>
                                        <td>@reservation.Date.ToShortDateString()</td>
                                        <td>@reservation.Date.Hour : @reservation.Date.Minute-@reservation.Date.AddMinutes(30).ToShortTimeString()</td>
                                        <td>@reservation.User.FirstName @reservation.User.LastName</td>
                                        <td>
                                            <a href="/Patient/patientCheckDocument/@reservation.Id"
                                               class="button button-3d  button-small button-rounded button-dirtygreen">
                                                <i class="icon-folder-check"></i> Check Manipulation Document
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- External JavaScripts
    ============================================= -->
    <script src="~/FrontEnd/js/jquery.js"></script>
    <script src="~/FrontEnd/js/plugins.js"></script>
    <!-- Footer Scripts
    ============================================= -->
    <script src="~/FrontEnd/js/functions.js"></script>
</body>
</html>