@*
    Partial view for showing appointments. Below calendar.
*@
@model DentistAppointment.Models.DentistViewModels.DentistBookingViewModel
@foreach (var workHour in Model.WorkHours)
{
    <tr>
        <td>@workHour.Start.ToString(@"hh\:mm") - @workHour.End.ToString(@"hh\:mm")</td>
        @if (!workHour.Available)
        {
            <td>@workHour.Patient.FirstName @workHour.Patient.LastName</td>
        }
        else
        {
            <td></td>
        }

        @if (!workHour.Available)
        {
            <td>
                <form asp-action="dentistCancelAppointment" method="post">
                    <input asp-for="CancelId" value="@workHour.ReservationId" type="hidden" />
                    <button class="btn accent-background light-text aviableBtn disabled" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="icon-line-circle-cross"></i><span> Cancel</span></button>
                    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-body">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">You canceled this appointment!</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="nobottommargin">The appointment you selected has been canceled!You can see all your upcomming appointments in the "My appointments section"!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        }
        else
        {
            <td>
                <button class="btn light-text aviableBtn button-green disabled" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="icon-line-circle-cross icon-line-play"></i><span> Available</span></button>
            </td>
        }
    </tr>
}